@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;

}
body{
    height: 100vh;
}
/* 
/*Small*/

@media(max-width :500px ){
    .main-container{
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
        grid-template-rows: repeat(12 , 1fr);
        height: 100%
    }
   .main-container .image{
        grid-column: 1/13;
        grid-row: 1/13;
        background-image: url(../images/bg2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 100%;
        width: 100%;
        height: 100%; 

   }
   .main-container .form{
     grid-column: 4/10;
     grid-row: 2/10;

   }
   .main-container .form .form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
   }
   .form-container h2{
    font-size: 45px;
    color: #59564f;
}
.form-container form input{
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #bebdbb;
    padding: 20px;
    outline: none;
    font-size: 16px;
    color:#59564f ;
}
.form-container form button{
    margin-top: 15px;
    border: 0;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    font-weight: 1000;
    background: linear-gradient(to right,#405261,#475663,#2c363f );
    color: white;
    margin-bottom: 15px;
}
.form-container form button:hover{
    cursor: pointer;
    background: linear-gradient(to right,#2c363f,#475663 ,#405261);
}
.form-container form #user-icon,
.form-container form #pass-icon,
.form-container form #email-icon{
    
    position: relative;
    top: -40px;
    left: -47%;
    }
    .form-container form #confirm-pass-icon{
        position: relative;
        top: -65px;
        left: -26%;
    }
    .form-container .text a{
        margin-left: 10px;
        text-decoration: none;
        color: #9b9b99;
    }
    
    .form-container .text p{
        margin-left: 10px;
        color: #9b9b99;
    }    
    .form-container #userNameFound,
    .form-container #emailFound ,
    .form-container #passwordError,
    .form-container #passwordConfirmaionError{
        color: red;
    }   
 

} 


/*Large*/
@media(min-width : 501px){
   

.form-container form{
    width: 60%;

}
.form-container form #user-icon,
.form-container form #pass-icon,
.form-container form #email-icon,
.form-container form #confirm-pass-icon{

    position: relative;
    top: -40px;
    left: -48%;
    }
      
    .main-container{
        display: grid;
        grid-template-columns: repeat(12 , 1fr);
        height: 100%
    }
    .main-container .image{
        grid-column: 1/9;
        background-image: url(../images/hd_4b796e7efe0d75c007f0db60e5da9686_66d199740cea0.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 60%;
        width: 100%;
        height: 100%; 
    }
    .form{
        grid-column: 9/13;
    
    }
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 15%;
        vertical-align: middle;
    }
    .form-container h2{
        font-size: 45px;
        color: #59564f;
    }
    .form-container form{
        display: flex;
        flex-direction: column;
        margin: auto;
    
    }
    
    .form-container form input{
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #bebdbb;
        padding: 20px;
        outline: none;
        font-size: 16px;
        color:#59564f ;
    }
    
    
    .form-container form input:focus{
        border: 0;
        border-bottom: 3px solid #59564f;
    }
    .form-container form button{
        margin-top: 15px;
        border: 0;
        border-radius: 25px;
        padding: 15px;
        font-size: 18px;
        font-weight: 1000;
        background: linear-gradient(to right,#405261,#475663,#2c363f );
        color: white;
        margin-bottom: 15px;
    }
    .form-container form button:hover{
        cursor: pointer;
        background: linear-gradient(to right,#2c363f,#475663 ,#405261);
    }
    .form-container .text a{
        margin-left: 10px;
        text-decoration: none;
        color: #9b9b99;
    }
    
    .form-container .text p{
        margin-left: 10px;
        color: #9b9b99;
    }  
    .form-container #userNameFound,
    .form-container #emailFound ,
    .form-container #passwordError,
    .form-container #passwordConfirmaionError{
        color: red;
    }   

}
